/* Cards.css */

.divCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior entre las tarjetas y la paginación */
  }